<h1>Test Guru</h1>
<p>Web application for creating and passing various tests and publishing results on social networks</p>
<p>According to Ruby on Rails course by <a target="_blank" href="https://thinknetica.com/">Thinknetica</a></p>
<p>
  <%= link_to 'About Author', about_author_path %>
</p>