<% if object.errors.any? %>
  <p>
    <%= t('.message', count: object.errors.count) %>.
  </p>

  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
