<hr/>
<p>
  <%= current_year %> &copy; <%= author %>,
  <%= link_to 'TestGuru', github_url(author, repo), target: '_blank' %>
</p>
<p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
</p>